/**
* controlPanel.css
*/

p {
	margin: 0;
	vertical-align: middle;
}
span {
	display: inline-block;
	margin-right: 1em;
	width: 12em;
}
label[for^=buttonIcon] {
	display: inline-block;
	position: relative;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	text-align: center;
	vertical-align: middle;
}
label[for=buttonIcon] {
	background-color: #eee;
}
label[for=buttonIconWhite] {
	background-color: #333;
}
label + input[type=radio] {
	margin-left: 1em;
}
input[type=text] {
	max-width: 10em;
}
img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 16px;
	height: 16px;
}
